d-article {
    font-weight: 300;
}

d-code {
    background: #f7f7f7;
}

pre.text-output {
    color: #d2a963;
    background: #2f2f2f;
    padding: 10px;
}

.distill-site-nav {
    background-color: #268bd2;
}

.distill-site-header .title {
    font-size: 20px;
    font-weight: bolder;
}